body{
  background-color: #E5F8F5;

}
.footer:active, a:active, .menu:active{
  background-color: #99C24D;
}

.menu{
  width: 65px;
  height: 7px;
  float: right;
  margin-top: 40px;
  display: inline-block;
  cursor: pointer;
}
.hamburger1, .hamburger2, .hamburger3{
  width: 35px;
  height: 5px;
  background-color: #F0577C;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

h1, h2, p{
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}
.intro{
  display: flex;
}
.headshot{
  padding-right: 15px;
}
#headshot{
  height: 500px;
}

.logo{
  padding-top: 200px;
  width: 50%;
}

.title{
  font-family: 'Marvel', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  margin-left: 0px;
}
#name{
  color: #F0577C;
  text-align: left;
}

.button{
  text-align: right;
  background-color: #F0577C;
  padding: 5px;
  border-radius: 6px;
  color: white;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
}
h1{
  display: inline-block;
  width: 80%;
  font-size: 1.5rem;
  text-align: left;
}
#chicagosign{
  width: 100%;
  height: auto;
}

h1, h2, .button{
  font-family: 'days one', sans-serif;
}

h2{
  font-size: 1.25rem;
}
.section{
  text-align: center;
  font-size: 1.125rem;
  padding-bottom: 15px;
}
h2{
  font-size: 1.125rem;
}
p{
  font-family: 'Orienta', sans-serif;
  font-size: 0.875rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
a{
  display: inline;
  float: right;
  font-size: 1.5rem;
}
.paragraph{
  padding-bottom: 15px;
}
#webdesign{
  padding-top: 15px;
}
.webex{
  display:inline-block;
  width: 100%;
}
.pagedesign{
  display: inline-block;
}
img{
  padding-bottom: 15px;
}
.bio{
  text-align: left;
}

.lifepics{
  width: 100%;
}

.meet{
  text-align: center;
  padding-bottom: 15px;
}
.connect{
  font-family: 'Orienta', sans-serif;
  text-align: center;
  padding-bottom: 15px;
}
.footer{
  width: 8%;
  padding: 15px;
  display: inline;
}
.footers{
  text-align: center;
}


/* Start of case study*/

#casestudy{
  padding-top: 40px;
  margin-left: 15px;
}

#smartbox{
  margin-left: 15px;
}
.smartbox{
  width:100%;
}

.pagedesign{
  padding-bottom: 15px;
  padding: 15px;
  display: block;
  width: 100%;
}
.dashboard1{
  width:100%;
}

.data{
  width: 65%;
}
.datas{
  text-align: center;
}

.persona{
  width: 100%;
  padding-bottom: 0px;
}
#page1{
  padding-top: 15px;
}

.analysislogo{
  width: 30%;
  padding: 15px;
  display: inline;
  text-align: center;

}

.users{
  width:20%;
  display: inline;
}
.needs{
  width:40%;
  display: inline;
}
.priority{
  width:10%;
  display: inline;
}

.flow, .logosketch, .mock, .logofinal, .color, .typo, .wireframe, .preference, .homescreen, .dashboard, .closing{
  width: 100%;
}
