
body{
  background-color: #E5F8F5;
  width: 100%;

}
.footer:active, a:active, .menu:active{
  background-color: #99C24D;
}

.menu{
  height: 7px;
  float: right;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  padding-right: 15px;
}
.hamburger1, .hamburger2, .hamburger3{
  width: 35px;
  height: 5px;
  background-color: #F0577C;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

h1{
  font-family: 'Marvel', sans-serif;
  font-size: 1.25rem;
  text-align: left;
  margin-left: 0px;
}

.name{
  color: #F0577C;
  text-align: left;
}

h2{
  font-family: 'days one', sans-serif;
  font-size: 1.25rem;
  text-align: left;
  padding-left: 15px;
}

p{
  font-family: 'Orienta', sans-serif;
  font-size: 0.875rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
#check{
  text-align: center;
}

h5{
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 1.25rem;
}

h6{
  font-family: 'Marvel', sans-serif;
  text-align: center;
  font-size: 0.875rem;
}
.section{
  font-family: 'days one', sans-serif;
  text-align: center;
  font-size: 1.5625rem;
  padding-bottom: 15px;
}

.headshot{
  padding-right: 15px;
}
#headshot{
  height: 80vw;
  width: 50vw;
}

.intro{
  display: flex;
}

#logo{
    width: 30%;
    height: 20%;
  }

.logo{
  padding-top: 30vw;
}
.img{
  height: 47px;
}
img{
  width: 100vw;
  height: 70vw;
}
.mbutton{
  background-color: #F0577C;
  padding: 5px;
  border-radius: 6px;
  color: white;
  margin-bottom: 15px;
  display: inline-block;
  text-align: center;
}

.button{
  background-color: white;
  border-width: 2px;
  border-radius: 6px;
  border-color: #F0577C;
  color:#F0577C;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 5px;
}
a{
  display: inline;
  float: right;
  font-size: 1rem;
  font-family: 'days one', sans-serif;
}
.smartboximage{
  background-image: url("/images/smartbox-mobile.png");
  background-color: #cccccc;
  height: 80vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.smartboxtext {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#smartboxp{
  text-align: left;
}
#busybus {
  position: relative;
  text-align: center;
  color: white;
}
.id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bar{
  color: white;
  height: 29px;
}

.footbutton{
  display: inline-block;
  text-align: center;
  display:inline-block;
}
#calendar{
  text-align: center;
  display:inline-block;
}
#email{
  text-align: center;
  display:inline-block;
}
.twobuttons{
  width: 100%;
  text-align: center;
}

.footer{
  width: 5vw;
  height: 5vw;
  padding-right: 15px;
}
.footers{
  text-align: center;
  padding-top: 15px;
}



/* Start of case study*/
.titles{
  display: inline;
}
.title{
  padding-left: 15px;
}
#casestudy{
  padding-top: 15px;
}
#prototype{
  text-align: center;
}
#dashboard{
  height: 100vw;
}

.complogo{
  padding:15px;
  text-align: center;
  font-size: 1rem
}
.data{
  height: 70vw;
  width: 70vw;
}
.datas{
  text-align: center;
}
.userstory{
  height: 100vw;
}

.mock{
  height: 30vw;
  width: 50vw;
}
.mocks{
  text-align: center;
}

.logofinal{
  height: 20vw;
  width: 100vw;
}

.preference, .homescreen, .dashboard{
  width: 100vw;
  height: 100vw;
}
