body{
  background-color: #E5F8F5;

}


h1, h2, p{
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}

.headshot{
  padding-right: 15px;
  float: left;
  height: 588px;
  width: 50%;
}
#headshot{
  height: 585px;
   float: right;
}

.logo{
  float: left;
  height: 588px;
  padding-top: 200px;
  width: 49%;
}
#logo{
  padding-left: 15px;
}
.title{
  font-family: 'Marvel', sans-serif;
  font-size: 1.5625rem;
  text-align: left;
}
#name{
  color: #F0577C;
  text-align: left;
}

.button{
  text-align: right;
  background-color: #E5F8F5;
}
#chicagosign{
  width: 100%;
  height: auto;
}

h1, h2, .button{
  font-family: 'days one', sans-serif;

}
h1{
  text-align: left;
  font-size: 1.125rem;
}
.section{
  text-align: center;
  font-size: 1.125rem;
  padding-bottom: 15px;
}
h2{
  font-size: 1.125rem;
}
p{
  font-family: 'Orienta', sans-serif;
  font-size: 0.875rem;
  padding-top: 15px;
}
a{
  display: inline;
  float: right;
  font-size: 1rem;
}
img{
  padding-bottom: 15px;
}
.bio{
  text-align: left;
}
.meet{
  text-align: center;
}
.connect{
  font-family: 'Orienta', sans-serif;
  text-align: center;
}
.footer{
  width: 8%;
  padding: 15px;
  display: inline;
}


/* Start of case study*/

#casestudy{
  padding-top: 40px;
}
.pagedesign{
  padding-bottom: 15px;
  padding: 15px;
  display: inline;
}
#page1{
  padding-top: 15px;
}

.analysislogo{
  width: 30%;
  padding: 15px;
  display: inline;

}
